html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  margin: 0;
  font-size: 62.5%;
}

.clickable {
  cursor: pointer;
}
/* Buttons */
.button {
  width: 100%;
  padding: 0.5rem 0.8rem;
  border-radius: 20px;
  font-size: 0.8rem;
}
.button__green {
  color: aliceblue;
  border: none;
  background-color: rgb(15, 121, 47);
  transition: filter 0.3s;
}
.button__purple {
  color: aliceblue;
  border: none;
  background-color: rgb(70, 60, 180);
  transition: filter 0.3s;
}

.button__red {
  color: aliceblue;
  border: none;
  background-color: red;
  transition: filter 0.3s;
}

.delete-button {
  border-radius: 100%;
  width: 2.2rem;
  height: 2.2rem;
  border: 1px solid red;
  color: red;
  padding: 0;
}

.edit-button {
  border-radius: 100%;
  width: 2.2rem;
  height: 2.2rem;
  border: 1px solid rgb(66, 66, 235);
  color: rgb(66, 66, 235);
  padding: 0;
}



.button:hover {
  filter: brightness(130%);
}

/* Spans */
.span-badge{
border: 1px solid gray;
border-radius: 10px;
padding: 0 0.3rem;
margin: 0.1rem;
font-weight: 600;
font-size: 0.9rem;
}

.span-badge__red{
 border-color: red;
 color:red
}





/* Forms */
.form__header {
  text-align: center;
  margin-bottom: 2rem;
}
.form-group {
  margin-bottom: 1rem;
  width: 100%;
}

input[type="password"],
input[type="text"],
input[type="date"],
input[type="email"],
select{
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  padding: 0.6rem 1rem;
  border: 1px solid rgb(70, 60, 180);
  border-radius: 10px;
}


 .Select {
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  padding: 0.1rem;
  border: 1px solid rgb(70, 60, 180);
  border-radius: 10px;
}

label {
  font-size: 0.9rem;
  display: block;
  margin-bottom: 0.3rem;
  font-weight: 600;
}
.error-label {
  margin: 0.3rem;
  padding: 0.4rem 0.5rem;
  background-color: rgba(248, 110, 110, 0.541);
  color: rgb(114, 2, 2);
  border-radius: 4px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 5px;
}
select option:hover {
  background: #f00;
  color: #fff;
  box-shadow: inset 20px 20px #f00;
}
input[type="password"]:focus,
input[type="text"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
select:focus
 {
  box-shadow: 0 0 4px rgb(98, 90, 187);
  outline: 0;
}

.Select:focus-within {
  box-shadow: 0 0 4px rgb(98, 90, 187);
  outline: 0;
}



.nav-dropDown{
  width: 11rem
}
.dropDown__items{
  text-align: center;
}


/* List  */

.list {
  list-style: none;
  margin: 0;
  text-align: left;
  padding: 0;
}

/* Links  */
.link {
  text-decoration: none;
}

/* Layout */

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .layout {
    flex-direction: row;
  }
}

/* Grid */
.grid {
  display: grid;
}

.grid__2x3{
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 768px) {
  .grid__2x3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid__1x2{
    grid-template-columns: repeat(2, 1fr);
  }
  .grid__3070{
    grid-template-columns:30% 70%
  }
}
/* NavBar  */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(19, 26, 19);
  flex-wrap: wrap;
}
.nav__brand {
  font-size: 1.2rem;
  background-color: rgb(70, 60, 180);
  color: rgb(232, 246, 237);
  border-radius: 15px;
  padding: 0.4rem 0.8rem;
  margin: 0 1rem;
  transition: background-color 0.3s;
}
.nav__brand:hover {
  color: rgb(232, 246, 237);
  background-color: rgb(98, 90, 187);
}

.nav__toggler {
  margin: 0.5rem;
  width: 3rem;
  height: 2.2rem;
  border: none;
  background-color: rgb(70, 60, 180);
  color: aliceblue;
  border-radius: 5px;
  font-size: 1rem;
}

.nav__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.nav__item {
  padding: 0.7rem 1rem;
  font-size: 1.2rem;
  border-bottom: 1px solid rgb(62, 62, 62);
}

.nav__item > a {
  color: rgb(228, 227, 239);
  transition: color 0.3s;
}
.nav__item > a:hover {
  color: rgb(104, 98, 161);
}

.nav__list.expanded {
  max-height: 15rem;
  opacity: 1;
}

.user_icon {
  border: 1px solid rgb(70, 60, 180);
  border-radius: 100%;
  padding: 0.3rem;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  background-color: rgb(237, 254, 237);
  transition: background-color 0.3s;
}

.user_icon:hover {
  color: aliceblue;
  background-color: rgb(70, 60, 180);
}

@media screen and (min-width: 768px) {
  .nav__list {
    flex-direction: row;
    align-items: center;
    width: auto;
    max-height: fit-content;
    opacity: 1;
  }
  .nav__toggler {
    display: none;
  }
  .nav__item {
    border-bottom: none;
    font-size: 1rem;
  }
}

/* Side Bar */
.side-bar {
  display: flex;
  flex-direction: column;

}

.side-bar__panel {
  float: left;
  min-height: 80vh;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border: 1px solid rgb(186, 184, 184);
  padding: 1rem;
  border-radius: 5px;
  background-color: white;
}

.side-bar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding-bottom: 1rem;
  height: 2rem;
  font-weight: bold;
  color: rgb(219, 112, 147);
}

.side-bar__close {
  border: none;
}
.side-bar__body {
  font-size: 1rem;
}

.side-bar__toggler {
  height: 3rem;
  font-size: 1.4rem;
  padding: 0;
  border: 1px solid rgb(219, 112, 147);
  border-left: none;
  background-color: rgb(219, 112, 147);
}

.side-bar__toggler:hover {
  filter: brightness(130%);
}

.side-bar__hide {
  display: none;
}

@media screen and (min-width: 768px) {
  .side-bar{
    width: 30%;
  }
  .side-bar__toggler {
    display: none;
  }
  .side-bar__hide {
    display: flex;
  }
  .side-bar__close {
    display: none;
  }
}

/* Work Header */

.work-area {
  font-size: 1rem;
  padding: 1rem;
  border: 1px solid rgb(186, 184, 184);
  border-radius: 5px;
}

.work-area__header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.work-area__heading {
  text-align: center;
  margin-bottom: 2rem;
}

.work-area__header button{
  width: 130px
}

@media screen and (min-width: 768px) {
  .work-area {
    width: 70%
  }
  
}


/* Login Form */

.login-form {
  padding: 4rem;
  margin: auto;
}

.login-form p {
  font-size: 1rem;
  margin-top: 2rem;
}
@media screen and (min-width: 768px) {
  .login-form {
    width: 30rem;
  }
}

/* Sign-up Form */

.sign-up-form {
  padding: 4rem;
  margin: auto;
}

.sign-up-form p {
  font-size: 1rem;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .sign-up-form {
    width: 30rem;
  }
}

/* Audit Form */

.audit-form {
  padding: 2rem 4rem;
}

.audit-form select[name="defects"] {
  margin-bottom: 1.5rem;
}


/* Card Box */

.card-box {
  padding: 0.8rem 0.9rem;
}

.card-box__header {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.6rem;
}

/* Setting Page */

.setting-page {
  margin: 0 auto;
}

.setting-page__header {
  margin: 2rem;
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  .setting-page {
    width: 50%;
  }
}

/* Tables */ 


.table-header{
  display: flex;
  align-items: center;
}

.table-header p{
  margin: 0 0.2rem;
}

/* Charts */

.defects-bar-chart{
  height: 35vh;
}

.pie-chart{
  height: 30vh;
  margin-bottom: 2rem;
}

.date-filter button{
  min-width: 130px;
}

